@model GroupProject.Models.Accounts

@{
    ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Courses" asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m => m.Username, "", new { @class = "form-control", @placeholder = "Enter Username" })
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "badge badge-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "badge badge-danger" })
            </div>

            <div class="form-group">
                <a asp-controller="Courses" asp-action="Signup">Sign Up</a>
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
